@import "tailwindcss";


@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

html,
body {
  color: #fff;
  background-color: #000;
}
.scroll-dark::-webkit-scrollbar { width: 12px; height: 12px; }
.scroll-dark::-webkit-scrollbar-thumb { background: #9f9f9f; border-radius: 9999px; }
.scroll-dark::-webkit-scrollbar-track { background: transparent; }

/* Firefox */
.scroll-dark { scrollbar-width: fat; scrollbar-color: #9f9f9f transparent; }
/* Ẩn scrollbar nhưng vẫn cho phép cuộn */
.scroll-hidden {
  /* nếu chỉ muốn dọc: dùng overflow-y thay vì overflow */
  overflow: auto;                 /* hoặc: overflow-y: auto; */
  -ms-overflow-style: none;       /* IE và Edge cũ */
  scrollbar-width: none;          /* Firefox */
}
.scroll-hidden::-webkit-scrollbar {
  display: none;                  /* Chrome, Safari, Edge Chromium */
}
/* Giữ rãnh scrollbar cố định để không giật layout */
html { scrollbar-gutter: stable both-edges; }

/* Khi mở modal, khóa cuộn nền */
html.modal-open { overflow: hidden; }

/* (iOS chắc ăn hơn) khóa thao tác cuộn cảm ứng */
html.modal-open { touch-action: none; }
